.wrapper {
  display: flex;
  gap: var(--gridGap);
  margin-top: 3em;
}

.control {
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid var(--primary);
  padding: 10px 15px;
  cursor: pointer;
  color: white;
  font-weight: 600;
}
