:root {
  --primary: purple;
  --cellSize: 30px;
  --gridGap: 10px;
}

.container {
  max-width: 800px;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
